.Taskbar{
    height: 4vh;
    min-height: 2rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 46, 46);
    z-index: 50;
}

.Items{
    height: 100%;
    width: 30vw;
    display: flex;
    align-items: center;
}

.Center{
    color: white;
    width: 30vw;
    min-width: 275px;
    padding: 0.3rem 0;
    box-sizing: border-box;
    font-size:smaller;
    display: flex;
    align-items: center;
    flex-flow: row;
}
.CenterLogo{
    display: none;
}

@media(max-width:850px){
    .Taskbar{
        justify-content: space-between;
    }
    .Items{
        width: 10vw;
        display: none;
    }
    .Center{
        width: 50vw;
    }
    .CenterLogo{
        display: flex;
    }
}



.button{
    display: flex;
    flex-flow: row;
}