.FilemenuContainer{
    height: 4vh;
    width: 81vw;
    min-height: 2rem;
    border-top: 2px solid rgb(68, 73, 73);
    display: flex;
    flex-direction: row;
    background-color: rgb(43, 46, 46);
}


@media(max-width:850px){
    .FilemenuContainer{
        width: 93vw;
    }
}