.BroadMenuContainer{
    width: 15vw;
    height: 93vh;
    background-color: rgb(43, 46, 46);
}
.Extra{
    color: white;
    padding-left: 1rem;
}
.ItemContainer{
    color: white;
    display: flex;
    flex-flow: column;
}
.Portfolio{
    font-weight: bold;
    padding-bottom: 8px;
   margin: 1rem 0 0 1rem;
}
.Item{
    height: 2rem;
}

@media(max-width : 850px){
    .BroadMenuContainer{
        display: none;
    }
}