.ProjectContainer{
    padding: 2vh 0 0 4vw;
    margin: 9.1vh 0 0 19vw;
    height: 85vh;
    width: 77vw;
    overflow:hidden;
}
.ProjectContainer h2{
    color: white;
    font-family: 'JetBrains Mono', monospace;
}
.Cards{
    display: flex;
    flex-wrap: wrap;
}