.ProjectContainer{
    margin-left: 1.6rem;
}
.ProjectContainer h2{
    color: white;
    font-family: 'JetBrains Mono', monospace;
    margin: 6rem 0 2rem 1.6rem;

}
.Cards{
    display: flex;
    flex-wrap: wrap;
}