.NarrowMenuContainer
{
    width: 4vw;
    height: 91vh;
    padding-top: 0.5rem;
    color: rgb(119, 124, 124);
    background-color: rgb(52, 54, 54);
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper{
    width: 100%;
}

.Icon{
    width: 100%;
    padding: 0.3rem;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.Icon:hover{
    border-left: 2px solid white;
    color: rgb(135, 141, 141);
    background-color: rgb(43, 46, 46);
}

.Setting{
    width: 100%;
    padding: 0.7rem 0;
    /* box-sizing: border-box; */
    border-left: 2px solid transparent;
    cursor: pointer;
}

.Setting:hover{
    color: rgb(135, 141, 141);
    background-color: rgb(43, 46, 46);
}

.active{
    color: white;
    border-left: 2px solid white;
}



@media(max-width:850px){
    .NarrowMenuContainer{
        width: 7vw;
        border-right: 2px solid rgb(63, 66, 66);
        background-color:  rgb(43, 46, 46);
    }
    
}