.NarrowMenuContainer
{
    width: 4vw;
    height: 91vh;
    padding-top: 0.5rem;
    background-color: rgb(63, 66, 66);
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Icon{
    width: 100%;
    padding: 0.1rem;
    border-left: 4px solid transparent;
    display: flex;
    justify-content: center;
}

.Icon:hover{
    border-left: 4px solid white;
    color: rgb(135, 141, 141);
    background-color: rgb(43, 46, 46);
}

.active{
    color: white;
    border-left: 4px solid white;
}

@media(max-width:850px){
    .NarrowMenuContainer{
        width: 7vw;
        border-top: 2px solid rgb(63, 66, 66);
        border-right: 2px solid rgb(63, 66, 66);
        background-color:  rgb(43, 46, 46);
    }
}