.ItemBox{
    font-size:smaller;
    height: 100%;
    color: white;
    border-bottom: 2.5px solid transparent;
    padding: 0.3rem 0.5rem;
    box-sizing: border-box;
}

.ItemBox:hover{
    background-color: rgb(56, 58, 59);
    border-bottom: 2.5px solid white;
    cursor: pointer;
}