.Footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2.5vh;
    border-top: 2px solid rgb(115, 124, 124);
    background-color: rgb(43, 46, 46);
    z-index: 20;
}